:root {
}
* {
	padding: 0;
	margin: 0;
	font: normal 100% Helvetica, Arial, sans-serif;
}
html {
	width: 100%;
}
body {
	width: 100%;
	background-color: rgb(238, 238, 238);
}
table {
	width: 100%;
}
a{
	text-decoration: none;
	color: rgb(255, 255, 255);
}
td{
	text-align: center;
}
dt{
	background-color: rgba(140, 140, 140, 0.2);
}
dd{
	padding: 1rem;
}
h1{
	font-size: 1.5rem;
}
/* div{
	border:1px solid #000;
} */
@media screen and (max-width: 600px) {
	.contain-div{
		width: 100%;
		font-size: 1.9rem;
		margin: 0 auto;
	}
	.left-div{
		background-color: rgba(0, 153, 102, 0.6);
		padding: 1rem;
		width: 100%;
		height: 100%;
	}
	.name-div{
		text-align: center;
		margin: 0 auto;
		color: rgb(255, 255, 255);
	}
	.git-div,
	.tel-div,
	.wechat-div,
	.email-div,
	.career-div,
	.English-level-div,
	.advance-div{
		color: rgb(255, 255, 255);
	}
	.head-img{
		width: 15rem;
		height: 15rem;
	}
	.right-div{
		padding: 1rem;
		background-color: rgb(255, 255, 255);
		width: 100%;
	}
	.content-div{
		margin: 0 auto;
	}
	.edu-div dl dd table,
	.information-div dl dd table{
		margin: 0 auto;
	}
	.ability-div dl dd p{
		text-align: center;
	}
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
	.contain-div{
		transform: translateX(10%);
		width: 80%;
		font-size: 2rem;
	}

	.left-div{
		background-color: rgba(0, 153, 102, 0.6);
		padding: 1rem;
		width: 100%;
		height: 100%;
	}
	.name-div{
		text-align: center;
		margin: 0 auto;
		color: rgb(255, 255, 255);
	}
	.git-div,
	.tel-div,
	.wechat-div,
	.email-div,
	.career-div,
	.English-level-div,
	.advance-div{
		color: rgb(255, 255, 255);
	}
	.head-img{
		width: 15rem;
		height: 15rem;
	}
	.content-div{
		margin: 0 auto;
	}
	.right-div{
		padding: 1rem;
		background-color: rgb(255, 255, 255);
		width: 100%;
	}
	.edu-div dl dd table,
	.information-div dl dd table{
		margin: 0 auto;
	}
	.ability-div dl dd p{
		text-align: center;
	}
}
@media screen and (min-width: 1000px) and (max-width: 1300px) {
	.contain-div{
		transform: translateX(10%);
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
	}

	.left-div{
		flex: 1;
		background-color: rgba(0, 153, 102, 0.6);
		padding: 1rem;
		width: 28%;
		height: 100%;
	}
	.name-div{
		text-align: center;
		margin: 0 auto;
		color: rgb(255, 255, 255);
	}
	.git-div,
	.tel-div,
	.wechat-div,
	.email-div,
	.career-div,
	.English-level-div,
	.advance-div{
		color: rgb(255, 255, 255);
	}
	.head-img{
		width: 15rem;
		height: 15rem;
	}
	.content-div{
		margin: 0 auto;
	}
	.right-div{
		padding: 1rem;
		flex: 2;
		background-color: rgb(255, 255, 255);
		width: 68%;
		height: 100%;
	}
}
@media screen and (min-width: 1300px) {
	.contain-div {
		height: 100%;
		display: flex;
		flex-direction: row;
		margin: 0 10%;
	}
	.left-div {
		flex: 1;
		background-color: rgba(0, 153, 102, 0.6);
		padding: 1rem;
		height: 100%;
		position: sticky;
		top: 0;
		display: none;
	}
	.name-div {
		text-align: center;
		margin: 0 auto;
		color: rgb(255, 255, 255);
	}
	.git-div,
	.tel-div,
	.wechat-div,
	.email-div,
	.career-div,
	.English-level-div,
	.advance-div {
		color: rgb(255, 255, 255);
	}
	.head-img {
		width: 15rem;
		height: 15rem;
	}
	.content-div {
		margin: 0 auto;
	}
	.right-div {
		padding: 1rem;
		flex: 2;
		background-color: rgb(255, 255, 255);
	}
}